*  {
    outline: 1px solid blue;
}


header {
    padding: 4rem;
    background: rgb(207, 62, 62);
}

body {
    text-align: center;
    background: grey;    
}

.selection {
 background: red;
 color: green;


}

.outcome {
    padding: 4rem;
    background: whitesmoke;
    color: chartreuse;
}

.spacer {
    padding: 4rem;
}
